 body {
   padding: 0;
   border: 0;
   margin: 0;
 }
 p {
   color: #383838;
   font-family: Verdana;
   font-size: 15px;
   font-style: italic;
 }
 h1 {
   color: #191a19;
   font-family: Helvetica;
   font-size: 10px;
}
.left {
   width: 33%;
   height: 100%;
   position: fixed;
   background-color: #ff5c5c;
 }
.center {
   width: 33%;
   height: 100%;
   position: fixed;
   background-color: #ffd15c;
   left: 33.5%;
 }
.right {
    width: 33%;
    height: 100%;
    position: fixed;
    background-color: #b3ff5c;
    right: 0%;
  }
.image {
  background-color: black;
  opacity: 0.2;
  height: 25%;
  width: auto;
}
.text {
  height: 5%;
  width: auto;
  margin: 20px;
}
