 body {
   margin: 0;
   background-color: white;
 }
 .left {
   width: 33%;
   height: 100%;
   position: fixed;
   background-color: #ff5c5c;
 }
 .center {
   width: 33%;
   height: 100%;
   position: fixed;
   background-color: #ffd15c;
   left: 33.5%;
 }
 .right {
    width: 33%;
    height: 100%;
    position: fixed;
    background-color: #b3ff5c;
    right: 0%;
  }
